*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-decoration: none;
    line-height: 22px;
}
a{
    text-decoration: none;
    color: white;
    margin: 0px;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0px 20px;
    overflow:auto;
}

#navbar{
    height: 63px;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow:auto;
    padding-bottom: 0px;
}
#navbar h1{
    color: white;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40px;
    font-size: 35px;
    float: left;
    text-shadow: 1px 1px 1px;
    font-family: cursive;
    letter-spacing: 3px;
}
#navbar ul{
     float: right;
     list-style: none;
     padding: 0px;
}
#navbar ul li{
  display: inline-block;
  
  padding-right: 36px;
  
}
#navbar ul li a{
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  text-align: center;
  display:inline-block;
padding-bottom: -20px;    }
   
#navbar ul li a:hover,
#navbar ul li a.li{
    background: dimgrey;
    color: sandybrown;
    border-right: -5px;
}
.body{
height: 460px;
background-size: cover;
background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9)), url(hotel.jpeg);
}
.body h1{
    text-align: center;
color: white;
letter-spacing: 0.4px;
font-size: 60px;
font-family: 'Courier New', Courier, monospace;
padding-top: 120px;
}
.body h2{
    text-align: center;
color: white;
letter-spacing: 0.4px;
font-size: 60px;
font-family: 'Courier New', Courier, monospace;
padding-top: 40px;
}
.body h2{
    text-align: center;
color: white;
letter-spacing: 0.4px;
font-size: 60px;
font-family: 'Courier New', Courier, monospace;
padding-top: 40px;
}
.body h3{
    text-align: center;
color: white;
letter-spacing: 0.4px;
font-size: 17px;
font-family: 'Courier New', Courier, monospace;
padding-top: 40px;
padding-right:170px;
padding-left:170px;
}
.body h4{
    text-align: center;
color: sandybrown;
letter-spacing: 0.4px;
font-size: 16px;
font-family:cursive;
padding-top: 40px;
padding-right:170px;
padding-left:170px;
background: none;
border-radius: 3px;
border-color: white;
border: white solid;
padding: 10px 10px 10px 10px;
margin-top: 30px;
margin-left: 500px;
margin-right: 500px;
}
.pre{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9)), url(pexels-photo-26139.jpg);
    height: 280px;
    padding-right: 649px;
    float: left;
}
 #h4{
     background-color: dimgray;
     height: 280px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.9));
     margin-right: 0px;
     overflow: auto;
     width: 700px;
     
 }
 .h4{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: sandybrown;
     padding-top: 30px;
     padding-left: 50px;
     font-size: 22px;
     letter-spacing: 3px;
 }
 .pp{
     color: white;
 font-family: monospace;
 font-size: 16px;
 padding-top: 30px;
padding-left: 40px;    
padding-right: 40px;
}

body h5{
    text-align: center;
    padding-top: 30px;
font-family: cursive;
font-size: 19px;
border: sandybrown solid;
border-radius: 3px;
margin-left: 260px;
margin-right: 260px;
margin-top: 20px;
padding: 10px 10px 10px 10px;
}
#ssid{
padding: 50px;
float: left;
width: 33.3%;
text-align: center;
}

 #footer{
     padding: 20px;
     background-color: dimgrey;
     text-align: center;
 }
 .ssid{
     background: sandybrown;
     height: 190px;
 }
 .more{
     height: 507px;
     background-color: aliceblue;
     margin: 0px;
 }

 .contact{
     padding-top: 40px;
     padding-bottom: 40px;
     padding-left: 50px;
 }
 .message {
padding-left: 50px;
 }
 label {
     display: block;
 }
 .bitt{
    font-size: large; border-radius: 6px; background-color: sandybrown;
    padding: 8px 8px 8px 8px; margin-top: 10px; margin-left: 50px; color: white; border-color: sandybrown; margin-bottom: 30px;
 }
 .bitt:hover {
     background-color:white;
     color:sandybrown;
    border-color: sandybrown;
 }
 input,
 textarea {
     width: 90%;
     padding: 10px;
     border: 1px #ddd solid;
     margin-top: 20px;
     margin-bottom: 30px;
 }
 